<ng-container *ngIf="!isSendModalShow">
  <app-lzcommon-table
    [isAutoData]="true"
    [operationOrginButton]="[true,false,false,false]"
    [tabs]="tabs"
    [isEditCustomPosition]="false"
    [operationButton]="operationButton"
    (operationBtnNoti)="operationBtnClick($event)"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestParams"
    [requestDataType]="requestDataType">
  </app-lzcommon-table>
</ng-container>

  <ng-container *ngIf="isSendModalShow">
    <app-modal-form 
      [tabs]="orderTabs" 
      [resid]="resid"
      [isMainData]="true" 
      [data]="_selectData" 
      [isCustomPosition]="false"
      (eventNoti)="modalFormNoti($event)">

        <app-lzcommon-table
          [isAttachDataModal]="true"
          [isAutoData]="true"
          [operationOrginButton]="[false,false,false,false]"
          [requestType]="'GET'"
          [requestUrl]="attachRequestUrl"
          [requestParams]="attachParams"
          [requestDataType]="attachRequestDataType">
        </app-lzcommon-table>

    </app-modal-form>
  </ng-container>
