<div>
    <app-common-card
      [isAutoData]="'true'"
      [tabs]="tabsArr"
      [operationOrginButton]="[true,true,false,false]"
      [requestType]="'GET'"
      [requestUrl]="url" 
      [requestParams]="params"
      [requestDataType]="dataT" 
      [isEditCustomPosition]="false"
      [addFormName]="'default'"
      [filterString]="filterString"
      [filterData]="filterData"
      [cardIndexArr]="[1,0,3]"
      [tableBtnStrArr]="['C3_563993570702','C3_563993573000']">
    </app-common-card>
  </div>