<div class="components-table-demo-control-bar">
    <form nz-form [nzLayout]="'inline'">
        <div nz-row nz-form-item>
            <nz-datepicker [(ngModel)]="_selectStartDate" (ngModelChange)="dateChange($event,0)" [ngModelOptions]="{standalone: true}" [nzFormat]="'YYYYMMDD'" [nzPlaceHolder]="'请选择开始日期'" ></nz-datepicker>
        </div>
        <div nz-row nz-form-item>
            <nz-datepicker [(ngModel)]="_selectEndDate" (ngModelChange)="dateChange($event,1)" [ngModelOptions]="{standalone: true}" [nzFormat]="'YYYYMMDD'" [nzPlaceHolder]="'请选择结束日期'" ></nz-datepicker>
        </div>
    </form>
</div>

<app-common-card 
  [isAutoData]="true" 
  [requestType]="'GET'"
  [requestUrl]="url" 
  [requestParams]="requestParams" 
  [requestDataType]="requestDataType"
  [operationOrginButton]="[true,true,false,true]"
  [tabs]="tabs"
  [addFormName]="'add'"
  [cardIndexArr]="[13,9,10]">
</app-common-card>