<!-- <div>
  <app-lzcommon-table [isAutoData]="'true'" [tabs]="tabsArr" [operationOrginButton]="[true,true,true]" [requestType]="'GET'" [requestUrl]="url"
    [requestParams]="params"
    [requestDataType]="dataT"
    [operationButton]="operationButtonTitle"
    (operationBtnNoti)="btnClick($event)">
  </app-lzcommon-table>
</div> -->

<!-- app-extend-table -->
<div>
<app-extend-table [isAutoData]="'true'" [tabs]="tabsArr" [operationOrginButton]="[true,true,true]" [requestType]="'GET'" [requestUrl]="url"
    [requestParams]="params"
    [requestDataType]="dataT"
    [operationButton]="operationButtonTitle"
    [addFormName]="'add'"
    (operationBtnNoti)="btnClick($event)">
  </app-extend-table>
</div>