/* You can add global styles to this file, and also import other style files */
@import './app/main/main.component.scss';
@import './lib/lzTableComponent/window-modal/modal-form-readonly/modal-form-readonly.component.scss';
@import './lib/lzTableComponent/commonTable/lzcommon-table.component.scss';
@import './lib/lzTableComponent/form-item-dynamic/form-item-dynamic.component.scss';
@import './lib/lzTableComponent/window-modal/modal-form/modal-form.component.scss';



.clear-float{
    clear: both;
}