<div class="page">
  <div class="components-table-demo-control-bar">
    <form nz-form [nzLayout]="'inline'">
      <div nz-row nz-form-item>
        <nz-dropdown>
          <a class="ant-dropdown-link" nz-dropdown>
             Hover me <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">1st menu item</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">2nd menu item</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">3rd menu item</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>

    </form>
  </div>

  <nz-table #nzTable [nzAjaxData]="_dataSet" [nzShowSizeChanger]="true" [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_current"
    (nzPageIndexChange)="_refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="_refreshData()">
    <thead nz-thead>
      <tr>
        <th nz-th><span>类型</span></th>
        <th nz-th><span>员工工号</span></th>
        <th nz-th><span>员工姓名</span></th>
        <th nz-th><span>开始时间</span></th>
        <th nz-th><span>结束时间</span></th>
        <th nz-th><span>时长</span></th>
        <th nz-th><span>审批状态</span></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>
          {{data.C3_533398158705}}
        </td>
        <td nz-td>{{data.C3_546777382153}}</td>
        <td nz-td>{{data.C3_533143303788}}</td>
        <td nz-td>{{data.C3_555171774775}}月{{data.C3_541449959569}}日{{data.C3_541450006047}}{{data.C3_541450072499}}:{{data.C3_541450107087}}</td>
        <td nz-td>{{data.C3_555171782681}}月{{data.C3_541449974021}}日{{data.C3_541450008801}}{{data.C3_541450084259}}:{{data.C3_541450125786}}</td>
        <td nz-td>{{data.C3_541449935726}}</td>
        <td nz-td>{{data.C3_533407351131}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>