

<app-common-tree 
  [rootNodeTitle]="'商品类别维护'"
  [requestType]="'GET'" 
  [requestParams]="nodeRequestParams"
  [requestUrl]="nodeRequestUrl" [tableRequestParam]="requestParams"
  [requestDataType]="nodeRequestDataT" (updateRequestParamsEvent)="updateRequestParams($event)">
  <app-lzcommon-table
    [isAutoData]="true"
    [operationOrginButton]="[false,true,false,false]"
    [isEditCustomPosition]="false"
    [requestType]="'GET'"
    [requestUrl]="url"
    [requestParams]="requestParams"
    [isAttachDataModal]="true"
    [requestDataType]="requestDataType"
    [addFormName]="'add'"
    [tabs]="tabs">
  </app-lzcommon-table>
</app-common-tree> 
